force-app/main/default/flows/CloseCarePlanTasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>addTaskToCollectionForUpdate</name>
        <label>Add Task To Collection For Update</label>
        <locationX>165</locationX>
        <locationY>391</locationY>
        <assignmentItems>
            <assignToReference>stagedTasksToBeCompleted</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>eachTaskRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>parseSelectedTasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSelectedTaskIDsToVar</name>
        <label>Assign Selected Task IDs to Variable</label>
        <locationX>400</locationX>
        <locationY>285</locationY>
        <assignmentItems>
            <assignToReference>varSelectedTasks</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fieldTasksToClose</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>parseSelectedTasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>changeTaskStatusToCompleted</name>
        <label>Change task status to completed</label>
        <locationX>167</locationX>
        <locationY>560</locationY>
        <assignmentItems>
            <assignToReference>eachTaskRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTaskClosedStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addTaskToCollectionForUpdate</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decisionToIncludeTaskId</name>
        <label>Is this task selected by user?</label>
        <locationX>402</locationX>
        <locationY>559</locationY>
        <defaultConnector>
            <targetReference>parseSelectedTasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>taskIsSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSelectedTasks</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>eachTaskRecord.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>changeTaskStatusToCompleted</targetReference>
            </connector>
            <label>Task is selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>doesCarePlanHaveOpenTasks</name>
        <label>Does Care Plan have open tasks ?</label>
        <locationX>397</locationX>
        <locationY>43</locationY>
        <defaultConnector>
            <targetReference>screenNoTasksToClose</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>hasOpenTasks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>taskRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenSelectTasksToClose</targetReference>
            </connector>
            <label>Care Plan has open tasks</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>carePlansDRC</name>
        <dataType>String</dataType>
        <displayField>Subject</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <limit>50</limit>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>varSelectedCarePlanId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Subject</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>openTasksDRC</name>
        <dataType>String</dataType>
        <displayField>Subject</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSelectedCarePlanId</elementReference>
            </value>
        </filters>
        <limit>50</limit>
        <object>Task</object>
        <sortField>ActivityDate</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Close Care Plan Tasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Close Care Plan Tasks</label>
    <loops>
        <name>parseSelectedTasks</name>
        <label>Parse Selected Tasks</label>
        <locationX>399</locationX>
        <locationY>389</locationY>
        <assignNextValueToReference>eachTaskRecord</assignNextValueToReference>
        <collectionReference>taskRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>decisionToIncludeTaskId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateTasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>retrieveOpenTasks</name>
        <label>Retrieve open task records for selected care plan</label>
        <locationX>221</locationX>
        <locationY>41</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>doesCarePlanHaveOpenTasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSelectedCarePlanId</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>taskRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <sortField>ActivityDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>updateTasks</name>
        <label>Update Tasks</label>
        <locationX>609</locationX>
        <locationY>393</locationY>
        <connector>
            <targetReference>screenTaskActionSubmitted</targetReference>
        </connector>
        <inputReference>stagedTasksToBeCompleted</inputReference>
    </recordUpdates>
    <screens>
        <name>screenNoTasksToClose</name>
        <label>Select Tasks To Close</label>
        <locationX>666</locationX>
        <locationY>42</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>labelNoTasks</name>
            <fieldText>No tasks to close for the selected care plan.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <helpText>Select Tasks To Close</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenSelectCarePlan</name>
        <label>Select a Care Plan</label>
        <locationX>46</locationX>
        <locationY>39</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>retrieveOpenTasks</targetReference>
        </connector>
        <fields>
            <name>labelSelectCarePlanForTasks</name>
            <fieldText>Select a care plan to view related tasks.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>carePlans</name>
            <choiceReferences>carePlansDRC</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <helpText>Select a Care Plan</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenSelectTasksToClose</name>
        <label>Select Tasks To Close</label>
        <locationX>399</locationX>
        <locationY>169</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assignSelectedTaskIDsToVar</targetReference>
        </connector>
        <fields>
            <name>fieldTasksToClose</name>
            <choiceReferences>openTasksDRC</choiceReferences>
            <dataType>String</dataType>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <helpText>Select Tasks To Close</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenTaskActionSubmitted</name>
        <label>All Done !</label>
        <locationX>609</locationX>
        <locationY>557</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>labelActionSubmittedMessage</name>
            <fieldText>Task update is in progress. Please check your pending uploads for status.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <helpText>All Done !</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>screenSelectCarePlan</startElementReference>
    <status>Active</status>
    <variables>
        <name>eachTaskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stagedTasksToBeCompleted</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>taskRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varSelectedCarePlanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varSelectedTasks</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varTaskClosedStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </variables>
</Flow>
