force-app/main/default/flows/Initiate_Appeal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Record variable to hold the required information to create a new Appeal Care Request Record.</description>
        <name>Assign_Values_To_Appeal_CareRequest_Record</name>
        <label>Assign Values To Appeal CareRequest Record</label>
        <locationX>966</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>AppealTypeCareRequestRecord.MemberId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreAuthTypeCareRequestRecord.MemberId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppealTypeCareRequestRecord.MemberFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreAuthTypeCareRequestRecord.MemberFirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppealTypeCareRequestRecord.MemberDateOfBirth</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreAuthTypeCareRequestRecord.MemberDateOfBirth</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppealTypeCareRequestRecord.MemberGroupNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreAuthTypeCareRequestRecord.MemberGroupNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppealTypeCareRequestRecord.AppointedRepresentativeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreAuthTypeCareRequestRecord.AppointedRepresentativeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppealTypeCareRequestRecord.MemberLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreAuthTypeCareRequestRecord.MemberLastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppealTypeCareRequestRecord.MemberIdentificationNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreAuthTypeCareRequestRecord.MemberIdentificationNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppealTypeCareRequestRecord.GeneralPractitionerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreAuthTypeCareRequestRecord.GeneralPractitionerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppealTypeCareRequestRecord.ServicingPractitionerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreAuthTypeCareRequestRecord.ServicingPractitionerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppealTypeCareRequestRecord.ServicingPractitionerSpecialty</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreAuthTypeCareRequestRecord.ServicingPractitionerSpecialty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppealTypeCareRequestRecord.ServicingFacilityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreAuthTypeCareRequestRecord.ServicingFacilityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppealTypeCareRequestRecord.ScheduledAdmissionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreAuthTypeCareRequestRecord.ScheduledAdmissionDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppealTypeCareRequestRecord.ServicingPractitionerLicense</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreAuthTypeCareRequestRecord.ServicingPractitionerLicense</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppealTypeCareRequestRecord.ParProvider</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreAuthTypeCareRequestRecord.ParProvider</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppealTypeCareRequestRecord.PlaceOfService</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreAuthTypeCareRequestRecord.PlaceOfService</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppealTypeCareRequestRecord.ScheduledDischargeDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreAuthTypeCareRequestRecord.ScheduledDischargeDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppealTypeCareRequestRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AppealCareRequestRecordTypeEntity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppealTypeCareRequestRecord.CareRequestCaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AppealTypeCaseRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppealTypeCareRequestRecord.ReferenceCaseNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreAuthTypeCaseRecord.CaseNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppealTypeCareRequestRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Appeal_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppealTypeCareRequestRecord.RequestingPractitionerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreAuthTypeCareRequestRecord.RequestingPractitionerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppealTypeCareRequestRecord.RequestingPractitionerLicense</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreAuthTypeCareRequestRecord.RequestingPractitionerLicense</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppealTypeCareRequestRecord.RequestingPractitionerSpecialty</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreAuthTypeCareRequestRecord.RequestingPractitionerSpecialty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppealTypeCareRequestRecord.CriteriaMet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreAuthTypeCareRequestRecord.CriteriaMet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppealTypeCareRequestRecord.InfoReceivedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreAuthTypeCareRequestRecord.InfoReceivedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppealTypeCareRequestRecord.InfoRequestedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreAuthTypeCareRequestRecord.InfoRequestedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppealTypeCareRequestRecord.FirstReviewerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreAuthTypeCareRequestRecord.FirstReviewerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppealTypeCareRequestRecord.FirstReviewerNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreAuthTypeCareRequestRecord.FirstReviewerNotes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppealTypeCareRequestRecord.MedicalDirectorId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreAuthTypeCareRequestRecord.MedicalDirectorId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppealTypeCareRequestRecord.MedicalDirectorNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreAuthTypeCareRequestRecord.MedicalDirectorNotes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppealTypeCareRequestRecord.DecisionReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreAuthTypeCareRequestRecord.DecisionReason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppealTypeCareRequestRecord.DecisionReasonDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreAuthTypeCareRequestRecord.DecisionReasonDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppealTypeCareRequestRecord.DecisionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreAuthTypeCareRequestRecord.DecisionDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppealTypeCareRequestRecord.DecisionNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreAuthTypeCareRequestRecord.DecisionNotes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppealTypeCareRequestRecord.EffectiveFrom</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreAuthTypeCareRequestRecord.EffectiveFrom</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppealTypeCareRequestRecord.EffectiveTo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreAuthTypeCareRequestRecord.EffectiveTo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppealTypeCareRequestRecord.DecisionLetter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreAuthTypeCareRequestRecord.DecisionLetter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppealTypeCareRequestRecord.MemberVerbalNotificationDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreAuthTypeCareRequestRecord.MemberVerbalNotificationDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppealTypeCareRequestRecord.MemberWrittenNotificationDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreAuthTypeCareRequestRecord.MemberWrittenNotificationDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppealTypeCareRequestRecord.RequestPractitionerVerbalNotifiedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreAuthTypeCareRequestRecord.RequestPractitionerVerbalNotifiedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppealTypeCareRequestRecord.RequestPractitionerWrittenNotifiedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreAuthTypeCareRequestRecord.RequestPractitionerWrittenNotifiedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppealTypeCareRequestRecord.GeneralPractitionerVerbalNotifiedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreAuthTypeCareRequestRecord.GeneralPractitionerVerbalNotifiedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppealTypeCareRequestRecord.GeneralPractitionerWrittenNotifiedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreAuthTypeCareRequestRecord.GeneralPractitionerWrittenNotifiedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppealTypeCareRequestRecord.InitialDenialNotificationDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreAuthTypeCareRequestRecord.InitialDenialNotificationDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppealTypeCareRequestRecord.ReconsiderationDenialNotificationDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreAuthTypeCareRequestRecord.ReconsiderationDenialNotificationDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppealTypeCareRequestRecord.IsServiceOrMedicationReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreAuthTypeCareRequestRecord.IsServiceOrMedicationReceived</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppealTypeCareRequestRecord.ServiceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreAuthTypeCareRequestRecord.ServiceDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppealTypeCareRequestRecord.OriginalDenialMedicalDirectorId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreAuthTypeCareRequestRecord.OriginalDenialMedicalDirectorId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppealTypeCareRequestRecord.ReceivedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Received_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Appeal_Care_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Record variable to hold the required information to create a new Appeal Case Record.</description>
        <name>Assign_Values_To_Appeal_Case_Record</name>
        <label>Assign Values To Appeal Case Record</label>
        <locationX>621</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>AppealTypeCaseRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreAuthTypeCaseRecord.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppealTypeCaseRecord.ContactEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreAuthTypeCaseRecord.ContactEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppealTypeCaseRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreAuthTypeCaseRecord.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppealTypeCaseRecord.ContactMobile</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreAuthTypeCaseRecord.ContactMobile</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppealTypeCaseRecord.ContactPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreAuthTypeCaseRecord.ContactPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppealTypeCaseRecord.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreAuthTypeCaseRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppealTypeCaseRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AppealCaseRecordTypeEntity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppealTypeCaseRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Appeal_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppealTypeCaseRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Appeal_Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Appeal_Case</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Defines the list of the Requester/Caller personas (Member, Provider etc.)</description>
        <name>Member_Requester_Type</name>
        <choiceText>Member</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Member</stringValue>
        </value>
    </choices>
    <choices>
        <description>Defines the list of the Requester/Caller personas (Member, Provider etc.)</description>
        <name>Provider_Requester_Type</name>
        <choiceText>Provider</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Provider</stringValue>
        </value>
    </choices>
    <constants>
        <name>Appeal</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Appeal</stringValue>
        </value>
    </constants>
    <constants>
        <name>CareRequest</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CareRequest</stringValue>
        </value>
    </constants>
    <constants>
        <name>Case</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </constants>
    <constants>
        <name>DrugRequest</name>
        <dataType>String</dataType>
        <value>
            <stringValue>DrugRequest</stringValue>
        </value>
    </constants>
    <constants>
        <name>ServiceRequest</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ServiceRequest</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Check if CareRequest details are present for the PreAuthorization Case Id.</description>
        <name>Care_Request_Details_Present</name>
        <label>Care Request Details Present ?</label>
        <locationX>371</locationX>
        <locationY>204</locationY>
        <defaultConnector>
            <targetReference>Capture_Appeal_Case_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Present</defaultConnectorLabel>
        <rules>
            <name>Not_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PreAuthTypeCareRequestRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PreAuth_Details_Not_Available</targetReference>
            </connector>
            <label>Not Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type_IDs_Set</name>
        <label>Record Type IDs Set ?</label>
        <locationX>45</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Configuration_Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsRecordTypeIdSet</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PreAuth_Case_Number</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This flow is launched from the Account record page and lets the user create an Appeal Case and associated Appeal Care Request based on an already available PreAuthorization Request.</description>
    <dynamicChoiceSets>
        <description>Presents the list of all Service and Drug Request cases for a member in a dropdown.</description>
        <name>PreAuthCaseChoice</name>
        <dataType>String</dataType>
        <displayField>Subject</displayField>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceRequestRecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DrugRequestRecordTypeId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>OriginalPreAuthCaseNumber</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OriginalPreAuthCaseCreatedDate</assignToReference>
            <field>CreatedDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OriginalPreAuthCaseSubject</assignToReference>
            <field>Subject</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Initiate Appeal {!recordId}_{!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>New Appeal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates new Appeal Care Request Record</description>
        <name>Create_Appeal_Care_Request</name>
        <label>Create Appeal Care Request</label>
        <locationX>977</locationX>
        <locationY>486</locationY>
        <connector>
            <targetReference>Get_Appeal_Case_Number</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Summary</targetReference>
        </faultConnector>
        <inputReference>AppealTypeCareRequestRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Creates new Appeal Case Record</description>
        <name>Create_Appeal_Case</name>
        <label>Create Appeal Case</label>
        <locationX>780</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Assign_Values_To_Appeal_CareRequest_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Summary</targetReference>
        </faultConnector>
        <inputReference>AppealTypeCaseRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Appeal_Case_Number</name>
        <label>Get Appeal Case Number</label>
        <locationX>1126</locationX>
        <locationY>486</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Appeal_Case_Success_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AppealTypeCaseRecord.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>AppealTypeCaseRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Retrieves the CareRequest details based on the Case number selected.</description>
        <name>Get_Pre_Auth_Care_Request_Details</name>
        <label>Get Pre Auth Care Request Details</label>
        <locationX>379</locationX>
        <locationY>35</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Care_Request_Details_Present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CareRequestCaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_PreAuth_Case_Number</elementReference>
            </value>
        </filters>
        <object>CareRequest</object>
        <outputReference>PreAuthTypeCareRequestRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>MemberId</queriedFields>
        <queriedFields>MemberFirstName</queriedFields>
        <queriedFields>MemberDateOfBirth</queriedFields>
        <queriedFields>MemberGroupNumber</queriedFields>
        <queriedFields>AppointedRepresentativeId</queriedFields>
        <queriedFields>MemberLastName</queriedFields>
        <queriedFields>MemberIdentificationNumber</queriedFields>
        <queriedFields>GeneralPractitionerId</queriedFields>
        <queriedFields>ServicingPractitionerId</queriedFields>
        <queriedFields>ServicingPractitionerSpecialty</queriedFields>
        <queriedFields>ServicingFacilityId</queriedFields>
        <queriedFields>ScheduledAdmissionDate</queriedFields>
        <queriedFields>ServicingPractitionerLicense</queriedFields>
        <queriedFields>ParProvider</queriedFields>
        <queriedFields>PlaceOfService</queriedFields>
        <queriedFields>ScheduledDischargeDate</queriedFields>
        <queriedFields>CareRequestCaseId</queriedFields>
        <queriedFields>RequestingPractitionerId</queriedFields>
        <queriedFields>RequestingPractitionerLicense</queriedFields>
        <queriedFields>RequestingPractitionerSpecialty</queriedFields>
        <queriedFields>CriteriaMet</queriedFields>
        <queriedFields>InfoRequestedDate</queriedFields>
        <queriedFields>InfoReceivedDate</queriedFields>
        <queriedFields>FirstReviewerId</queriedFields>
        <queriedFields>MedicalDirectorId</queriedFields>
        <queriedFields>FirstReviewerNotes</queriedFields>
        <queriedFields>MedicalDirectorNotes</queriedFields>
        <queriedFields>DecisionReason</queriedFields>
        <queriedFields>DecisionReasonDescription</queriedFields>
        <queriedFields>DecisionDate</queriedFields>
        <queriedFields>DecisionNotes</queriedFields>
        <queriedFields>EffectiveFrom</queriedFields>
        <queriedFields>EffectiveTo</queriedFields>
        <queriedFields>DecisionLetter</queriedFields>
        <queriedFields>MemberVerbalNotificationDate</queriedFields>
        <queriedFields>MemberWrittenNotificationDate</queriedFields>
        <queriedFields>RequestPractitionerVerbalNotifiedDate</queriedFields>
        <queriedFields>RequestPractitionerWrittenNotifiedDate</queriedFields>
        <queriedFields>GeneralPractitionerVerbalNotifiedDate</queriedFields>
        <queriedFields>GeneralPractitionerWrittenNotifiedDate</queriedFields>
        <queriedFields>InitialDenialNotificationDate</queriedFields>
        <queriedFields>ReconsiderationDenialNotificationDate</queriedFields>
        <queriedFields>IsServiceOrMedicationReceived</queriedFields>
        <queriedFields>ServiceDate</queriedFields>
        <queriedFields>OriginalDenialMedicalDirectorId</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Retrieves Case information based on the case selected.</description>
        <name>Get_Pre_Auth_Case_Details</name>
        <label>Get Pre Auth Case Details</label>
        <locationX>235</locationX>
        <locationY>35</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Pre_Auth_Care_Request_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_PreAuth_Case_Number</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>PreAuthTypeCaseRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>ContactEmail</queriedFields>
        <queriedFields>ContactMobile</queriedFields>
        <queriedFields>ContactPhone</queriedFields>
        <queriedFields>ContactId</queriedFields>
    </recordLookups>
    <screens>
        <name>Appeal_Case_Success_Message</name>
        <label>Appeal Case Success Message</label>
        <locationX>1260</locationX>
        <locationY>487</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Final_Case_Id</name>
            <fieldText>Appeal case - {!AppealTypeCaseRecord.CaseNumber} created {!AppealTypeCaseRecord.CreatedDate}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Capture Appeal Case details from the end user.</description>
        <name>Capture_Appeal_Case_Details</name>
        <label>Capture Appeal Case Details</label>
        <locationX>380</locationX>
        <locationY>489</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Values_To_Appeal_Case_Record</targetReference>
        </connector>
        <fields>
            <name>Appeal_Name</name>
            <dataType>String</dataType>
            <fieldText>Appeal Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Appeal_Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Received_Date</name>
            <dataType>Date</dataType>
            <fieldText>Received Date</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Date the request was received</helpText>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Configuration_Error_Message</name>
        <label>Configuration Error Message</label>
        <locationX>52</locationX>
        <locationY>500</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_Configuration_Error_Message</name>
            <fieldText>Flow execution can&apos;t proceed as the required Record Type configuration is missing. Please check with your administrator.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Summary</name>
        <label>Error Summary</label>
        <locationX>780</locationX>
        <locationY>486</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayErrorMessage</name>
            <fieldText>&lt;B&gt;There has been an exception in the flow while creating the record&lt;/B&gt;
&lt;P&gt;Your admin has received an email about this error.&lt;/P&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Provide information about the existing PreAuthorization Case.</description>
        <name>Original_PreAuth_Details</name>
        <label>Original PreAuth Details</label>
        <locationX>227</locationX>
        <locationY>193</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Pre_Auth_Case_Details</targetReference>
        </connector>
        <fields>
            <name>Original_PreAuth_Details_Display</name>
            <fieldText>&lt;B&gt;Existing Prior Authorization Case Information&lt;/B&gt;

Existing Case Number -  {!OriginalPreAuthCaseNumber}
Case Subject - {!OriginalPreAuthCaseSubject}
Created Date -  {!OriginalPreAuthCaseCreatedDate}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen that provides the list of all Service and Drug Request cases for a member.</description>
        <name>PreAuth_Case_Number</name>
        <label>PreAuth Case Number</label>
        <locationX>228</locationX>
        <locationY>361</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Original_PreAuth_Details</targetReference>
        </connector>
        <fields>
            <name>Select_PreAuth_Case_Number</name>
            <choiceReferences>PreAuthCaseChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Prior Authorization Case</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Display PreAuth Details Not Available Error Message.</description>
        <name>PreAuth_Details_Not_Available</name>
        <label>PreAuth Details Not Available</label>
        <locationX>615</locationX>
        <locationY>37</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CareRequest_Not_Present</name>
            <fieldText>Prior Authorization Care Request details are not present for the selected case. Please select a different Prior Authorization case.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Required_Record_Type_ID_SubFlow_Call</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Get_Required_Record_Type_ID_SubFlow_Call</name>
        <label>Get Required Record Type ID SubFlow Call</label>
        <locationX>50</locationX>
        <locationY>189</locationY>
        <connector>
            <targetReference>Record_Type_IDs_Set</targetReference>
        </connector>
        <flowName>Get_Required_Record_Type_ID</flowName>
        <outputAssignments>
            <assignToReference>AppealCareRequestRecordTypeEntity</assignToReference>
            <name>AppealCareRequestRecordTypeId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AppealCaseRecordTypeEntity</assignToReference>
            <name>AppealCaseRecordTypeId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DrugRequestRecordTypeId</assignToReference>
            <name>DrugRequestRecordTypeId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IsRecordTypeIdSet</assignToReference>
            <name>IsRecordTypeIDSet</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ServiceRequestRecordTypeId</assignToReference>
            <name>ServiceRequestRecordTypeId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AppealCareRequestRecordTypeEntity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AppealCaseRecordTypeEntity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AppealTypeCareRequestRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CareRequest</objectType>
    </variables>
    <variables>
        <description>This record variables holds the Case details of Appeal Record Type.</description>
        <name>AppealTypeCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseRecordTypeCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>CurrentLoopRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>DrugRequestRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsRecordTypeIdSet</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OriginalPreAuthCaseCreatedDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OriginalPreAuthCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OriginalPreAuthCaseSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable to hold the CareRequest record data</description>
        <name>PreAuthTypeCareRequestRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CareRequest</objectType>
    </variables>
    <variables>
        <description>This record variables holds the Case details of Pre-Auth relates Record Types (Service Request, Drug etc).</description>
        <name>PreAuthTypeCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Provider_FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Provider_LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Id field of the record from which the flow is initiated.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceRequestRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
