force-app/main/default/flows/ViewProblems.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>doesPatientHaveRelatedProblems</name>
        <label>Does Patient have related problems ?</label>
        <locationX>521</locationX>
        <locationY>281</locationY>
        <defaultConnector>
            <targetReference>screenNoRelatedProblems</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>patientHasRelatedProblems</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>problemRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenRelatedProblems</targetReference>
            </connector>
            <label>Patient has related problems</label>
        </rules>
    </decisions>
    <decisions>
        <name>isProblemSelected</name>
        <label>Is a Problem selected ?</label>
        <locationX>182</locationX>
        <locationY>387</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>problemSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSelectedProblemId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSelectedProblemId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>retrieveProblemRecord</targetReference>
            </connector>
            <label>Problem selected</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>problemsDRC</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HealthCloudGA__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>HealthCloudGA__CarePlanProblem__c</object>
        <outputAssignments>
            <assignToReference>varSelectedProblemId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>View Problems {!$Flow.CurrentDateTime}</interviewLabel>
    <label>View Problems</label>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>retrieveProblemRecord</name>
        <label>Retrieve record for selected problem</label>
        <locationX>514</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screenProblemDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSelectedProblemId</elementReference>
            </value>
        </filters>
        <object>HealthCloudGA__CarePlanProblem__c</object>
        <outputAssignments>
            <assignToReference>varProblemDescription</assignToReference>
            <field>HealthCloudGA__Description__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varProblemPriority</assignToReference>
            <field>HealthCloudGA__Priority__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varProblemName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>retrieveProblems</name>
        <label>Retrieve problems for patient</label>
        <locationX>524</locationX>
        <locationY>159</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>doesPatientHaveRelatedProblems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HealthCloudGA__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>HealthCloudGA__CarePlanProblem__c</object>
        <outputReference>problemRecords</outputReference>
    </recordLookups>
    <screens>
        <name>screenNoRelatedProblems</name>
        <label>Related Problems</label>
        <locationX>795</locationX>
        <locationY>286</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>labelNoProblems</name>
            <fieldText>This patient has no related problems.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <helpText>Related Problems</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenProblemDetails</name>
        <label>Problem Details</label>
        <locationX>713</locationX>
        <locationY>397</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ProblemName</name>
            <fieldText>Name 
{!varProblemName}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProblemPriority</name>
            <fieldText>Priority 
{!varProblemPriority}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProblemDescription</name>
            <fieldText>Description 
{!varProblemDescription}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <helpText>Problem Details</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenRelatedProblems</name>
        <label>Related Problems</label>
        <locationX>182</locationX>
        <locationY>281</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>isProblemSelected</targetReference>
        </connector>
        <fields>
            <name>problems</name>
            <choiceReferences>problemsDRC</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <helpText>Related Problems</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>retrieveProblems</startElementReference>
    <status>Active</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>problemRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HealthCloudGA__CarePlanProblem__c</objectType>
    </variables>
    <variables>
        <name>varProblemDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varProblemName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varProblemPriority</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varSelectedProblemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
