force-app/main/default/flows/ViewCarePlanGoals.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>doesCarePlanHaveGoals</name>
        <label>Does Care Plan have goals ?</label>
        <locationX>487</locationX>
        <locationY>279</locationY>
        <defaultConnector>
            <targetReference>screenNoRelatedGoals</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>carePlanHasGoals</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>goalRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenRelatedGoals</targetReference>
            </connector>
            <label>Care Plan has goals</label>
        </rules>
    </decisions>
    <decisions>
        <name>isGoalSelected</name>
        <label>is a Goal selected ?</label>
        <locationX>182</locationX>
        <locationY>391</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>goalSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSelectedGoalId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSelectedGoalId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>retriveGoalRecord</targetReference>
            </connector>
            <label>Goal selected</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>carePlansDRC</name>
        <dataType>String</dataType>
        <displayField>Subject</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <limit>50</limit>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>varSelectedCarePlanId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>goalsDRC</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HealthCloudGA__CarePlan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSelectedCarePlanId</elementReference>
            </value>
        </filters>
        <object>HealthCloudGA__CarePlanGoal__c</object>
        <outputAssignments>
            <assignToReference>varSelectedGoalId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>View Care Plan Goals {!$Flow.CurrentDateTime}</interviewLabel>
    <label>View Care Plan Goals</label>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>retriveGoalRecord</name>
        <label>Retrieve a goal record for selected goal</label>
        <locationX>480</locationX>
        <locationY>394</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screenGoalDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSelectedGoalId</elementReference>
            </value>
        </filters>
        <object>HealthCloudGA__CarePlanGoal__c</object>
        <outputAssignments>
            <assignToReference>varGoalDueDate</assignToReference>
            <field>HealthCloudGA__ActivityDate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varGoalDescription</assignToReference>
            <field>HealthCloudGA__Description__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varGoalPriority</assignToReference>
            <field>HealthCloudGA__Priority__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varGoalName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>retriveGoals</name>
        <label>Retrieve goals for selected care plan</label>
        <locationX>490</locationX>
        <locationY>157</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>doesCarePlanHaveGoals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HealthCloudGA__CarePlan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSelectedCarePlanId</elementReference>
            </value>
        </filters>
        <object>HealthCloudGA__CarePlanGoal__c</object>
        <outputReference>goalRecords</outputReference>
    </recordLookups>
    <screens>
        <name>screenGoalDetails</name>
        <label>Goal Details</label>
        <locationX>679</locationX>
        <locationY>395</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>GoalName</name>
            <fieldText>Name
{!varGoalName}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GoalPriority</name>
            <fieldText>Priority
{!varGoalPriority}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GoalDueDate</name>
            <fieldText>Due Date
{!varGoalDueDate}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GoalDescription</name>
            <fieldText>Description
{!varGoalDescription}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <helpText>Goal Details</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenNoRelatedGoals</name>
        <label>Related Goals</label>
        <locationX>761</locationX>
        <locationY>284</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>labelNoGoals</name>
            <fieldText>This care plan has no related goals.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <helpText>Related Goals</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenRelatedGoals</name>
        <label>Related Goals</label>
        <locationX>182</locationX>
        <locationY>281</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>isGoalSelected</targetReference>
        </connector>
        <fields>
            <name>goals</name>
            <choiceReferences>goalsDRC</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <helpText>Related Goals</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenSelectCarePlan</name>
        <label>Select a Care Plan</label>
        <locationX>492</locationX>
        <locationY>44</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>retriveGoals</targetReference>
        </connector>
        <fields>
            <name>labelSelectCarePlanForGoals</name>
            <fieldText>Select a care plan to view related goals.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>carePlans</name>
            <choiceReferences>carePlansDRC</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <helpText>Select a Care Plan</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>screenSelectCarePlan</startElementReference>
    <status>Active</status>
    <variables>
        <name>goalRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HealthCloudGA__CarePlanGoal__c</objectType>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varGoalDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varGoalDueDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varGoalName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varGoalPriority</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varSelectedCarePlanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varSelectedGoalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
